body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

#listaUsuarios {
  background-color: azure;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
.usuarioDatos{
  background-color: aquamarine;

}
.usuario {
  border: solid 1px black;
  justify-content: space-around;
  

}
img {
  width: 200px;
  height: 200px;
}